BahamasInvoiceAPI/.vs/
BahamasInvoiceAPI/BahamasInvoiceAPI/bin/
BahamasInvoiceAPI/BahamasInvoiceAPI/obj/Debug/netcoreapp3.1/BahamasInvoiceAPI.assets.cache
BahamasInvoiceAPI/BahamasInvoiceAPI/obj/
BahamasInvoiceAPI/UnitTests/bin/
BahamasInvoiceAPI/UnitTests/obj/
BahamasInvoiceAPI/BahamasInvoiceAPI/BahamasInvoiceAPI.csproj.user
