body {
  font-family: 'Roboto', sans-serif
}

button {
  padding: 0.3em 1.2em;
  margin: 0 0 0.3em 0;
  border-radius: 2em;
  border: none;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: #FFFFFF;
  background-color: #4eb5f1;
  text-align: center;
  transition: all 0.2s;
  font-size: 16px;

  &:hover {
    background-color: #4095c6;
  }
}