default: &default
  adapter: postgresql
  encoding: utf8
  pool: 80
  host: localhost
  user: postgres
  password: 

development:
  <<: *default
  database: list_post_development

production:
  <<: *default
  database: list_post_production

test:
  <<: *default
  host: localhost
  database: list_post_test
  password: 